[build]
  base = "react-portfolio"
  publish = "react-portfolio/dist"
  command = "npm run build"

[context.production.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
